@{
    ViewData["Title"] = "Курсовой проект \"Учет произведений скульптуры\"";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<br />
<p style="font-size:16px;"><a asp-action="GetDoc">Скачать записку</a></p>
