.addBtn, .styleContainer
{
    margin-top: 10px;
}

td
{
    border-color:black;
    border:1px solid;
    padding: 10px;
    padding-right:30px;
    font-size:16px;
    text-align:center;
}

.column
{
    display: inline-table;
}


.features
{
    margin:50px 100px 0 -50px;
}

.mainPart
{
    margin-top: -800px;
}


